body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #88ccee;
    font-family: sans-serif;
    user-select: none;
}

#container {
    width: 100vw;
    height: 100vh;
    display: block;
}